
body {
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1579492450119-80542d516179?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
}

/* ------------------------------------------------- */


.hamburger {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  margin: 10px;
  right: 0;
  top: 0;
  z-index: 2;
}

.hamburger::before {
  content: '';
  background-color:#679186;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: -1;
  border-radius: 10px;
}

.hamburger:hover {
  background-color: #679186;
  box-shadow: 0 0 0 2px #D6E5DD;
}

@media (min-width: 576px) {
  .hamburger {
    display: none;
   
  }
}

.hamburger__line {
  width: 80%;
  height: 2px;
  background-color: #333333;
  transition: all ease 0.3s;
}

.hamburger__line-top {
  transform-origin: top left;
}

.hamburger-open .hamburger__line-top {
  transform: translateX(5px) translateY(-1px) rotate(45deg);
}

.hamburger-open .hamburger__line-middle {
  transform: scale(0);
}

.hamburger__line-bottom {
  transform-origin: bottom left;
}

.hamburger-open .hamburger__line-bottom {
  transform: translateX(5px) translateY(1px) rotate(-45deg);
}

/* ------------------------------------------------- */

.navbar {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
 z-index: 2;
}

.navbar__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #F5F5F5;
  color: #679186;
  transition: all ease 0.3s;
  transform: translateX(0);
}

.nav-closed {
  transform: translateX(100%);
}

.navbar__item {
  margin: 0;
  display: flex;
}

.navbar__link {
  color: #679186;
  text-decoration: none;
  transition: 0.3s all ease;
  position: relative;
  padding: 20px;

}

@media (min-width: 576px) {
  .navbar {
    display: flex;
    height: 100%;
  }

  .navbar__list {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    position: relative;
    transition: none;
    transform: none
  }

  .navbar__link {
    margin: 0;
  }


  .navbar__link:hover {
    background-color:#D6E5DD;
  }

  .navbar__link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 5px;
    border-bottom: 2px solid #333333;
    transform: scalex(0);
    transition: 0.3s all ease;
  }

  .navbar__link:hover::before {
    transform: scalex(1);
  }
}
/* ------------------------------------------------- */

/* input */
.contenedordeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
}

#buscador {
  outline: none;
    width: 250px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #68ac9a;
    color: #0f0f0f;
    transition: border-bottom .5s;
}

#buscador:hover{
  border-bottom: 3px solid crimson;
}

/* ------------------------------------------------- */
/* contenedor */
#productos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-block-end: 11px;
}
.tarjetaProducto{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  padding: 65px;
  margin-top: 20px;
  background-color:transparent;
}
.filas {
  display: flex;
  justify-content: space-evenly;
}

.filas .tarjeta {
  width: 250px;
  height: 650px;
  margin: -1px;
  border: 4px solid #F5F5F5;
  box-shadow: 0 5px 10px 1px;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.2s linear;
  background-color: #D6E5DD;
}

.filas .tarjeta:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 10px 1px;
}

.filas .tarjeta .imagen {
  overflow: hidden;
  height: 200px;
  width: 90px;
  padding: 80px;
  background-position: center;
  background-size: cover;
}

.producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.producto .productoTitulo {
  padding-left: 10px;
  font-weight: bold;
  color:#3b3434 ;
}

.producto .productoAutor {
  padding-right: 10px;
  font-size: 0.8rem;
  font-style: italic;
  color: #0f0f0f;
  cursor: pointer;
}
.producto .productoAutor:hover{
  text-decoration: underline;
  color: #0f0f0f;
}

.tarjeta .descripcion {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 20px;
}
.tarjeta .descripcion p{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 130px 10px 10px 11px;
  font-size: 0.8rem;
  height: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tarjeta .precio{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 340px;
}

.tarjeta .precio div .precioFinal {
  margin-left: 20px;
  padding: 5px 10px 8px 10px;
  font-weight: bold;
  background-color: #68ac9a;
  color: white;
  border-radius: 5px;
}
.tarjeta .precio button {
  margin-right: 10px;
  padding: 5px 10px 8px 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  color: white;
  box-shadow: 0 0 2px 1px black;
  transition: 0.25s;
}
.tarjeta .precio button:hover {
  box-shadow: 0 0 10px 7px #679186;
}
@media only screen and (max-width: 900px) {
  .filas {
    flex-wrap: wrap;
  }
}

/* --------------------------------------------------- */
/* footer */
footer{
  margin: 30px;
}
.contenedorBotones {
  text-align: center;
}

.contenedorBotones .socialButton {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.contenedorBotones .socialButton:hover,
.contenedorBotones .socialButton:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* ------------------------------ */
/* nosotros */
.main  .content .parallax {
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 30rem;
			max-width: 100%;
			position: relative
		}

		.texto-interior {
			color: #ffeead;
      text-shadow: 4px 4px 12px rgba(0,0,0,0.99);
      font-size: 2rem;
      font-style: italic;
      font-weight: bold;
			left: 10%;
			position: absolute;
			text-align: center;
			top: 40%;
			width: 80%
		}

		.texto {
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-style: initial;
      font-weight: bold;
			padding: 5%;
			width: 90%
		}

		.img-uno {

			background-image: url("https://images.unsplash.com/photo-1465433045946-ba6506ce5a59?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80")
		}

		.img-dos {
			background-image: url("https://images.unsplash.com/photo-1517673132405-a56a62b18caf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=876&q=80")
		}

		.img-tres {
			background-image: url("https://images.unsplash.com/photo-1610971752667-e8c3e0e890fd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzR8fGxpYnJvcyUyMGJsYW5jbyUyMHluZWdyb3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=400&q=60")
		}

/* ------------------------------ */
/* carrito */

#carrito {
  margin-top: 20px;

}
.TituloCarrito{
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  text-align: center;
}
.book {
  border: 3px solid #333333;
  color: #0f0f0f;
  background-color: hsla(164, 17%, 49%, 0.562);
  padding: 10px;
  margin-bottom: 10px;
}

.book h2 {
  margin-top: 30px;
  font-size:1rem;
  text-align: center;
}

.book p {
  text-align: center;
  margin: 0;
}

#total-precio{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  text-align: center;
}

/* ------------------------------------------------- */
/* boton eliminar */
.eliminar {
  background-color:#0f0f0f;
  color: #ffffff;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}

.eliminar:hover {
  box-shadow: 1px 2px 72px 19px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 2px 72px 19px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 72px 19px rgba(0,0,0,0.75);
}
/* -------------------------------------------- */
/* boton confirmar */
.btnConfirmar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
}

#boton-confirmar{
  background-color:#0f0f0f;
  color: #ffffff;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}
#boton-confirmar:hover{
  color: #68ac9a;
  box-shadow: 1px 2px 72px 19px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 2px 72px 19px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 72px 19px rgba(0,0,0,0.75);
}

#total-gastado{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  text-align: center;
}