body {
    margin: 0;
    background-image: url("https://images.unsplash.com/photo-1579492450119-80542d516179?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
}

//nosotros
.main {
    .content {
        .parallax {
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: $rem-30;
            max-width: $porcentaje-100;
            position: relative;

            .texto-interior {
                color: $color-amarrilo;
                text-shadow: $px-4 $px-4 $px-12 $color-black;
                font-size: $rem-2;
                font-style: $font-style-italic;
                font-weight: bold;
                left: $porcentaje-10;
                position: absolute;
                text-align: center;
                top: $porcentaje-40;
                width: $porcentaje-80;
            }
        }

        .texto {
            font-family: $font-georgia;
            font-style: $font-style-initial;
            font-weight: bold;
            padding: $porcentaje-5;
            width: $porcentaje-90;
        }

        .img-uno {

            background-image: url("https://images.unsplash.com/photo-1465433045946-ba6506ce5a59?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80")
        }

        .img-dos {
            background-image: url("https://images.unsplash.com/photo-1517673132405-a56a62b18caf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=876&q=80")
        }

        .img-tres {
            background-image: url("https://images.unsplash.com/photo-1610971752667-e8c3e0e890fd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzR8fGxpYnJvcyUyMGJsYW5jbyUyMHluZWdyb3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=400&q=60")
        }
    }
}

//footer
footer {
    margin: $px-30;

    .contenedorBotones {
        text-align: center;

        .socialButton {
            display: inline-block;
            position: relative;
            cursor: pointer;
            width: $rem-3125;
            height: $rem-3125;
            border: $rem-0125 solid transparent;
            padding: 0;
            text-decoration: none;
            text-align: center;
            color: $color-white;
            font-size: $rem-1-5;
            font-weight: normal;
            line-height: $rem-2;
            border-radius: $rem-16875;
            transition: all 0.5s ease;
            margin-right: $rem-025;
            margin-bottom: $rem-025;

            &:hover {
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    }
}

//carrito
#carrito {
    margin-top: $px-20;

    .book {
        border: $px-3 solid $color-dark;
        color: $color-black;
        background-color: $color-verdeOscuro;
        padding: $px-10;
        margin-bottom: $px-10;
    }

    h2 {
        margin-top: $px-30;
        font-size: $rem-1;
        text-align: center;
    }

    p {
        text-align: center;
        margin: 0;
    }
}

.TituloCarrito {
    font-family: $font-timesNew;
    font-size: $rem-2;
    text-align: center;
}

#total-precio {
    font-family: $font-timesNew;
    font-size: $rem-1;
    text-align: center;
}

//btn eliminar
.eliminar {
    background-color: $color-texto;
    color: $color-white;
    padding: $px-6 $px-12;
    border: none;
    border-radius: $px-4;
    font-size: $px-12;
    cursor: pointer;

    &:hover {
        @include btn-sombra;
    }
}

//btn confirmar
.btnConfirmar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $vh-8;

    #boton-confirmar {
        background-color: $color-black;
        color: $color-white;
        padding: $px-6 $px-12;
        border: none;
        border-radius: $px-4;
        font-size: $px-15;
        cursor: pointer;

        &:hover {
            color: $color-verde;
            @include btn-sombra;
        }
    }

    #volverComprar {
        background-color: $color-texto;
        color: $color-white;
        padding: $px-6 $px-12;
        border: none;
        border-radius: $px-4;
        font-size: $px-15;
        cursor: pointer;
        display: none;

        &:hover {
            color: $color-verde;
            @include btn-sombra;
        }
    }

}


#total-gastado {
    font-family: $font-timesNew;
    font-size: $rem-1;
    text-align: center;
}

//input buscador
.contenedordeBuscador {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $vh-8;

    #buscador {
        outline: none;
        width: $px-250;
        height: $px-30;
        background-color: transparent;
        border: none;
        border-bottom: $px-3 solid $color-verde;
        color: $color-texto;
        transition: border-bottom .5s;

        &:hover {
            border-bottom: $px-3 solid $color-red;
        }
    }
}