@media (min-width: 576px) {
  .hamburger {
    display: none;
  }
}

@media (min-width: 576px) {
  .navbar {
    display: flex;
    height: $porcentaje-100;
  }

  .navbar__list {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: $porcentaje-100;
    position: relative;
    transition: none;
    transform: none
  }

  .navbar__link {
    margin: 0;

    &:hover {
      background-color: $color-vedeClaro;
    }

    &::before {
      content: '';
      position: absolute;
      width: $porcentaje-100;
      height: $porcentaje-100;
      left: 0;
      bottom: $px-5;
      border-bottom: $px-2 solid $color-dark;
      transform: scalex(0);
      transition: 0.3s all ease;
    }

    &:hover::before {
      transform: scalex(1);
    }
  }
}

@media only screen and (max-width: 900px) {
  .filas {
    flex-wrap: wrap;
  }
}