//colores
$color-white: #F5F5F5;
$color-vedeClaro: #d6e5dd;
$color-verde: #68ac9a;
$color-verdeOscuro: #6892878f;
$color-texto: #0f0f0f;
$color-black: #000000;
$color-dark: #4E4E4E;
$color-red: #dc143c;
$color-amarrilo: #ffeead;
$color-white: #FFFFFF;
$color-silver: #C0C0C0;
$color-gray: #808080;
$color-black: #000000;
$color-red: #FF0000;
$color-maroon: #800000;

//fuentes
$font-roboto: 'Roboto', sans-serif;
$font-Franklin: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-georgia: Georgia, 'Times New Roman', Times, serif;
$font-timesNew: 'Times New Roman', Times, serif;
//font-styles
$font-style-italic: italic;
$font-style-initial: initial;

//rem
$rem-30: 30rem;
$rem-025: 0.25rem;
$rem-05: 0.5rem;
$rem-075: 0.75rem;
$rem-08: 0.8rem;
$rem-1: 1rem;
$rem-125: 1.25rem;
$rem-15: 1.5rem;
$rem-175: 1.75rem;
$rem-2: 2rem;
$rem-225: 2.25rem;
$rem-25: 2.5rem;
$rem-275: 2.75rem;
$rem-3: 3rem;
$rem-325: 3.25rem;
$rem-35: 3.5rem;
$rem-375: 3.75rem;
$rem-4: 4rem;
$rem-425: 4.25rem;
$rem-45: 4.5rem;
$rem-475: 4.75rem;
$rem-5: 5rem;
$rem-525: 5.25rem;
$rem-55: 5.5rem;
$rem-575: 5.75rem;
$rem-6: 6rem;
$rem-625: 6.25rem;
$rem-65: 6.5rem;
$rem-675: 6.75rem;
$rem-7: 7rem;
$rem-725: 7.25rem;
$rem-75: 7.5rem;
$rem-775: 7.75rem;
$rem-8: 8rem;
$rem-825: 8.25rem;
$rem-85: 8.5rem;
$rem-875: 8.75rem;
$rem-9: 9rem;
$rem-925: 9.25rem;
$rem-95: 9.5rem;
$rem-975: 9.75rem;
$rem-10: 10rem;
$rem-3125: 3.125rem;
$rem-0125: 0.125rem;
$rem-0125: 0.125rem;
$rem-1-5: 1.5625rem;
$rem-16875: 1.6875rem;
//px
$px--45: -45px;
$px--44: -44px;
$px--43: -43px;
$px--42: -42px;
$px--41: -41px;
$px--40: -40px;
$px--39: -39px;
$px--38: -38px;
$px--37: -37px;
$px--36: -36px;
$px--35: -35px;
$px--34: -34px;
$px--33: -33px;
$px--32: -32px;
$px--31: -31px;
$px--30: -30px;
$px--29: -29px;
$px--28: -28px;
$px--27: -27px;
$px--26: -26px;
$px--25: -25px;
$px--24: -24px;
$px--23: -23px;
$px--22: -22px;
$px--21: -21px;
$px--20: -20px;
$px--19: -19px;
$px--18: -18px;
$px--17: -17px;
$px--16: -16px;
$px--15: -15px;
$px--14: -14px;
$px--13: -13px;
$px--12: -12px;
$px--11: -11px;
$px--10: -10px;
$px--9: -9px;
$px--8: -8px;
$px--7: -7px;
$px--6: -6px;
$px--5: -5px;
$px--4: -4px;
$px--3: -3px;
$px--2: -2px;
$px--1: -1px;
$px-0: 0px;
$px-1: 1px;
$px-2: 2px;
$px-3: 3px;
$px-4: 4px;
$px-5: 5px;
$px-6: 6px;
$px-7: 7px;
$px-8: 8px;
$px-9: 9px;
$px-10: 10px;
$px-11: 11px;
$px-12: 12px;
$px-13: 13px;
$px-14: 14px;
$px-15: 15px;
$px-16: 16px;
$px-17: 17px;
$px-18: 18px;
$px-19: 19px;
$px-20: 20px;
$px-21: 21px;
$px-22: 22px;
$px-23: 23px;
$px-24: 24px;
$px-25: 25px;
$px-26: 26px;
$px-27: 27px;
$px-28: 28px;
$px-29: 29px;
$px-30: 30px;
$px-31: 31px;
$px-32: 32px;
$px-33: 33px;
$px-34: 34px;
$px-35: 35px;
$px-36: 36px;
$px-37: 37px;
$px-38: 38px;
$px-39: 39px;
$px-40: 40px;
$px-41: 41px;
$px-42: 42px;
$px-43: 43px;
$px-44: 44px;
$px-45: 45px;
$px-46: 46px;
$px-47: 47px;
$px-48: 48px;
$px-49: 49px;
$px-50: 50px;
$px-51: 51px;
$px-52: 52px;
$px-53: 53px;
$px-54: 54px;
$px-55: 55px;
$px-56: 56px;
$px-57: 57px;
$px-58: 58px;
$px-59: 59px;
$px-60: 60px;
$px-61: 61px;
$px-62: 62px;
$px-63: 63px;
$px-64: 64px;
$px-65: 65px;
$px-66: 66px;
$px-67: 67px;
$px-68: 68px;
$px-69: 69px;
$px-70: 70px;
$px-71: 71px;
$px-72: 72px;
$px-73: 73px;
$px-74: 74px;
$px-75: 75px;
$px-76: 76px;
$px-77: 77px;
$px-78: 78px;
$px-79: 79px;
$px-80: 80px;
$px-81: 81px;
$px-82: 82px;
$px-83: 83px;
$px-84: 84px;
$px-85: 85px;
$px-86: 86px;
$px-87: 87px;
$px-88: 88px;
$px-89: 89px;
$px-90: 90px;
$px-91: 91px;
$px-92: 92px;
$px-93: 93px;
$px-94: 94px;
$px-95: 95px;
$px-96: 96px;
$px-97: 97px;
$px-98: 98px;
$px-99: 99px;
$px-100: 100px;
$px-130: 130px;
$px-134: 134px;
$px-200: 200px;
$px-340: 340px;
$px-250: 250px;
$px-550: 550px;
$px-650px: 650px;
//vh
$vh-8: 8vh;
$vh-10: 10vh;
$vh-20: 20vh;
$vh-30: 30vh;
$vh-40: 40vh;
$vh-50: 50vh;
$vh-60: 60vh;
$vh-70: 70vh;
$vh-80: 80vh;
$vh-90: 90vh;
$vh-100: 100vh;
//vw
$vw--100: -100vw;
$vw--90: -90vw;
$vw--80: -80vw;
$vw--70: -70vw;
$vw--60: -60vw;
$vw--50: -50vw;
$vw--40: -40vw;
$vw--30: -30vw;
$vw--20: -20vw;
$vw--10: -10vw;
$vw-0: 0vw;
$vw-10: 10vw;
$vw-20: 20vw;
$vw-30: 30vw;
$vw-40: 40vw;
$vw-50: 50vw;
$vw-60: 60vw;
$vw-70: 70vw;
$vw-80: 80vw;
$vw-90: 90vw;
$vw-100: 100vw;
//%
$porcentaje-5: 5%;
$porcentaje-10: 10%;
$porcentaje-15: 15%;
$porcentaje-20: 20%;
$porcentaje-25: 25%;
$porcentaje-30: 30%;
$porcentaje-35: 35%;
$porcentaje-40: 40%;
$porcentaje-45: 45%;
$porcentaje-50: 50%;
$porcentaje-55: 55%;
$porcentaje-60: 60%;
$porcentaje-65: 65%;
$porcentaje-70: 70%;
$porcentaje-75: 75%;
$porcentaje-80: 80%;
$porcentaje-85: 85%;
$porcentaje-90: 90%;
$porcentaje-95: 95%;
$porcentaje-100: 100%;